.cabinet {

    &__wrapper {
        padding: 141px 127px;
    }

    &__btns {
        margin-top: 26px;
        display: flex;
    }

    &__link {
        color: var(--color-primary);
        &:hover {
            color: var(--color-primary);
            text-decoration: none;
        }
    }
}


@media (max-width: 991.98px) { 
    .cabinet {
    
        &__wrapper {
            padding: 50px 50px;
        }

        &__title {
            font-size: 35px;
            line-height: 39px;
        }
    }
}

@media (max-width: 767.98px) { 
    .cabinet {
    
        &__wrapper {
            padding: 50px 50px;
        }

        &__btns {
            margin-top: 26px;
            display: flex;
            height: 100px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__btn {
            margin-bottom: 10px;
        }

        &__title {
            font-size: 28px;
            line-height: 39px;
        }
    }
}

@media (max-width: 575.98px) { 
    .cabinet {
        &__wrapper {
            padding: 55px 0px;
        }
    }
}